################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WPF-SWL_Dice_Calculator/LIB_SWL_Dice_Calculator/obj
